<main>
  <section class="basic-container">
    <mat-icon>home</mat-icon>
    <pre><code>
      &lt;mat-icon&gt;home&lt;/mat-icon&gt;
    </code></pre>
  </section>
  <section class="basic-container">
    <mat-icon>alarm</mat-icon>
    <pre><code>
      &lt;mat-icon&gt;alarm&lt;/mat-icon&gt;
    </code></pre>
  </section>
  <section class="basic-container">
      <a mat-raised-button color="primary" href="https://material.io/tools/icons/?style=baseline" target="_blank">Material Design Icon Reference Page</a>
  </section>
</main>