header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
}

header mat-checkbox {
  align-self: center;
}

section {
  padding: 0 24px;
  margin-bottom: 12px;
}

button, a {
  margin-right: 8px;
}
